<html>
    <head>
        <title>{{ title }}</title>
        {% block header %} {% endblock %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/jquery.json-viewer.css') }}">
        <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/Farseen Logo.png') }}">
        <script src="{{ url_for('static',filename='scripts/jquery.json-viewer.js') }}"></script>


		<script src="{{ url_for('static',filename='scripts/index.js') }}"></script>
    </head>
    <body>
        <div class="home" data-token="{{ token }}" data-patient="{{ patient }}">
            <div class="home-title">
                <img class="title-image" src="{{ url_for('static', filename='images/Farseen Logo.png') }}" alt="Farseen Logo"></img>
                <h1 class="title-text"> Farseen Advisors SMART Platform </h1>
            </div>
            <div class="home-content">
                {% block content %} {% endblock %}
            </div>
        </div>
    </body>
</html>